 {% extends '../layout.twig' %}
{% block content %}
<center><h1>Picture comment</h1></center>
    {% for c in com %}
   <div id="wrapper">
  <div id="page-wrapper">

            <div class="container-fluid">
    
    
    <div class="row">
    
  <div class="col-sm-2 col-md-2">
    <div class="thumbnail">
      <img src="{{c.images.thumbnail.url}}" alt="...">
      <a href="#"><b>Likes : </b> <span class="badge">{{c.likes.count}}</span></a>
      <div class="caption">
        <h3>{{c.location.name}}</h3>
        <i>Tags</i>
        <p>{{c.caption.text}}</p>
        
      </div>
    </div>
  </div>
</div>
      </div></div></div>    
      
{% endfor %}
{% endblock %}