



<title>Time Calendar</title>
    
    
    
    
 <link rel="stylesheet" href="css/style3.css">

<ul class="calender">
    
  <li class="header">  <center><span>&#8986; Planing </span> </center> </li>
  <li class="time ">6:00</li>
  <li class="time ">8:00</li>
  <li class="time ">10:00</li>
  <li class="time ">12:00</li>
  <li class="time ">14:00</li>
  <li class="time ">16:00</li>
  <li class="time ">18:00</li>
  <li class="time ">20:00</li>
  <li class="time ">22:00</li>
  <li class="time ">00:00</li>

    
        

</ul>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
