

<div ng-controller="classementCTRL" ng-init="deutch=0;frensh=0;english=0;spanish=0;italian=0;portugal=0;">
    
    
    
    <nav>
  <ul class="pagination">
   
    <li ng-click="spanish=0;deutch=1;frensh=0;english=0;italian=0;portugal=0;"><a>Bundesliga</a></li>
    <li ng-click="spanish=0;deutch=0;frensh=1;english=0;italian=0;portugal=0;"><a>ligue 1</a></li>
    <li ng-click="spanish=0;deutch=0;frensh=0;english=1;italian=0;portugal=0;"><a>ligue one</a></li>
    <li ng-click="spanish=1;deutch=0;frensh=0;english=0;italian=0;portugal=0;"><a>Primera Division</a></li>
    <li ng-click="spanish=0;deutch=0;frensh=0;english=0;italian=1;portugal=0;"><a>Serie A</a></li>
    <li ng-click="spanish=0;deutch=0;frensh=0;english=0;italian=0;portugal=1;"><a>Portugal ligua</a></li>
   
  </ul>
</nav>
    
    
    

    
    <br>
    
<div ng-if="spanish==1">
    <center><h2>Classement Primera Division</h2></center><br><br>
    <table border="1" style="border-collapse: separate;
  border-spacing: 20px 5px;" >
    <thead>
        <th>position</th>
        <th>equipe</th>
        <th>points</th>
        <th>joués</th>
        <th>buts</th>
        <th>gagnés</th>
        <th>nuls</th>
        <th>perdus</th>
        
        </thead>
        
        
        <tr ng-repeat="stand in standingSpanish">
        <td>{{stand.position}}</td>
        <td><img style="width:30px;height:30px" ng-src="{{stand.crestURI}}" />{{stand.teamName}}</td>
        <td>{{stand.points}}</td>
        <td>{{stand.playedGames}}</td>
        <td>{{stand.goals}}</td>
        <td>{{stand.wins}}</td>
        <td>{{stand.draws}}</td>
        <td>{{stand.losses}}</td>
        
        </tr>
    </table>
    </div>
<!--   --------------------------------------------       -->
      <div ng-if="frensh==1">
    <center><h2>Classement Ligue 1</h2></center><br><br>
    <table border="1" style="border-collapse: separate;
  border-spacing: 20px 5px;" >
    <thead>
        <th>position</th>
        <th>equipe</th>
        <th>points</th>
        <th>joués</th>
        <th>buts</th>
        <th>gagnés</th>
        <th>nuls</th>
        <th>perdus</th>
        
        </thead>
        
        
        <tr ng-repeat="stand in standingfrensh">
        <td>{{stand.position}}</td>
        <td><img style="width:30px;height:30px" ng-src="{{stand.crestURI}}" />{{stand.teamName}}</td>
        <td>{{stand.points}}</td>
        <td>{{stand.playedGames}}</td>
        <td>{{stand.goals}}</td>
        <td>{{stand.wins}}</td>
        <td>{{stand.draws}}</td>
        <td>{{stand.losses}}</td>
        
        </tr>
    </table>
    </div>  
    
    <!--   --------------------------------------------       -->
      <div ng-if="deutch==1">
    <center><h2>Classement BundesLigua</h2></center><br><br>
    <table border="1" style="border-collapse: separate;
  border-spacing: 20px 5px;" >
    <thead>
        <th>position</th>
        <th>equipe</th>
        <th>points</th>
        <th>joués</th>
        <th>buts</th>
        <th>gagnés</th>
        <th>nuls</th>
        <th>perdus</th>
        
        </thead>
        
        
        <tr ng-repeat="stand in standingdeutch">
        <td>{{stand.position}}</td>
        <td><img style="width:30px;height:30px" ng-src="{{stand.crestURI}}" />{{stand.teamName}}</td>
        <td>{{stand.points}}</td>
        <td>{{stand.playedGames}}</td>
        <td>{{stand.goals}}</td>
        <td>{{stand.wins}}</td>
        <td>{{stand.draws}}</td>
        <td>{{stand.losses}}</td>
        
        </tr>
    </table>
    </div>
    
    
      <!--   --------------------------------------------       -->
      <div ng-if="english==1">
    <center><h2>Classement Ligue One</h2></center><br><br>
    <table border="1" style="border-collapse: separate;
  border-spacing: 20px 5px;" >
    <thead>
        <th>position</th>
        <th>equipe</th>
        <th>points</th>
        <th>joués</th>
        <th>buts</th>
        <th>gagnés</th>
        <th>nuls</th>
        <th>perdus</th>
        
        </thead>
        
        
        <tr ng-repeat="stand in standingenglish">
        <td>{{stand.position}}</td>
        <td><img style="width:30px;height:30px" ng-src="{{stand.crestURI}}" />{{stand.teamName}}</td>
        <td>{{stand.points}}</td>
        <td>{{stand.playedGames}}</td>
        <td>{{stand.goals}}</td>
        <td>{{stand.wins}}</td>
        <td>{{stand.draws}}</td>
        <td>{{stand.losses}}</td>
        
        </tr>
    </table>
    </div>
    
    
        <!--   --------------------------------------------       -->
      <div ng-if="italian==1">
    <center><h2>Classement Serie A</h2></center><br><br>
    <table border="1" style="border-collapse: separate;
  border-spacing: 20px 5px;" >
    <thead>
        <th>position</th>
        <th>equipe</th>
        <th>points</th>
        <th>joués</th>
        <th>buts</th>
        <th>gagnés</th>
        <th>nuls</th>
        <th>perdus</th>
        
        </thead>
        
        
        <tr ng-repeat="stand in standingitalian">
        <td>{{stand.position}}</td>
        <td><img style="width:30px;height:30px" ng-src="{{stand.crestURI}}" />{{stand.teamName}}</td>
        <td>{{stand.points}}</td>
        <td>{{stand.playedGames}}</td>
        <td>{{stand.goals}}</td>
        <td>{{stand.wins}}</td>
        <td>{{stand.draws}}</td>
        <td>{{stand.losses}}</td>
        
        </tr>
    </table>
    </div>
    
    
         <!--   --------------------------------------------       -->
      <div ng-if="portugal==1">
    <center><h2>Classement Portugal ligua</h2></center><br><br>
    <table border="1" style="border-collapse: separate;
  border-spacing: 20px 5px;" >
    <thead>
        <th>position</th>
        <th>equipe</th>
        <th>points</th>
        <th>joués</th>
        <th>buts</th>
        <th>gagnés</th>
        <th>nuls</th>
        <th>perdus</th>
        
        </thead>
        
        
        <tr ng-repeat="stand in standingPortugal">
        <td>{{stand.position}}</td>
        <td><img style="width:30px;height:30px" ng-src="{{stand.crestURI}}" />{{stand.teamName}}</td>
        <td>{{stand.points}}</td>
        <td>{{stand.playedGames}}</td>
        <td>{{stand.goals}}</td>
        <td>{{stand.wins}}</td>
        <td>{{stand.draws}}</td>
        <td>{{stand.losses}}</td>
        
        </tr>
    </table>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>