

<link rel="stylesheet" href="css/styleInscri.css">

<div id="Box">
  <div id="Fond"></div>
  <div id="Formulaire">
    <div id="Pre_texte1" >
        <h2 class="pad_bot1 pad_top1"  > <img src="./images/logo.png" style ="width: 66px;margin-left: -159px;
    margin-right: 70px;
    margin-top: -24px " /> login </h2>
    </div>
    <form>
      <div id="PositionEmail">
        <input type="email" name="Email" placeholder="Email">
      </div>
      <div id="PositionPass">
        <div class='icon' style="position:absolute">
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>
      </div>
        <input type="password" name="Pass" placeholder="Mot de passe" />
      </div>
     
      
      <div id="PositionSubmit">
          <a ng-click="inscrire();" href="#/">   <input style="margin-left:130px" type="submit" name="login" value='login' ></a><br><br><br><br>
<a href="#/inscri" style="padding-left:167px">inscription</a>    </form>
    </div>
  </div>