
  <body id="bodycyrine">
      
      <div id="myMap">
      
      

      
      <link rel="stylesheet" href="css/stylecyrine.css" type="text/css" media="all">
    <div ng-controller="MyCtrl">
         
      {{world}}
      <ng-map zoom="2" center="toronto, canada" style="height:300px">
        <custom-marker id="can" position="canada" on-click="click()">
                        <br>
        <div><b>Hi, im from canada </b><br>
          <img src="http://icons.iconarchive.com/icons/gosquared/flag/32/Canada-flat-icon.png" />
        </div>
        </custom-marker>
        <custom-marker id="usa" position="united state of america">
        <div><b>Hello, im from united state of america</b>
            <br>
          <img src="http://icons.iconarchive.com/icons/custom-icon-design/2014-world-cup-flags/32/USA-icon.png" />
        </div>
        </custom-marker>
          <custom-marker id="fr" position="France">
        <div><b>Hello, im Paris</b>
            <br>
          <img src="http://icons.iconarchive.com/icons/custom-icon-design/2014-world-cup-flags/32/France-icon.png" />
        </div>
        </custom-marker>
          <custom-marker id="tn" position="Tunisia" on-click="click()">
        <div><b>Hi Hi, im from tunisa </b>
          <img src="http://icons.iconarchive.com/icons/custom-icon-design/round-world-flags/32/Tunisia-icon.png" />
        </div>
        </custom-marker>
          
           <custom-marker id="Mex" position="Mexico" on-click="click()">
          <div><b>Hi, im from Mexico</b> 
              <br>
          <img src="http://icons.iconarchive.com/icons/custom-icon-design/2014-world-cup-flags/32/Mexico-icon.png" />
        </div>
        </custom-marker>
      </ng-map>
      <ul id="chats">
         <li class="tn"> <span><b>Hi Hi, im from tunisa</b></span>
         <li class="tn"> <span><b>How are you Mexico</b></span>
         <li class="tn"> <span><b>How are you Paris</b></span>
         <li class="tn"> <span><b>How are you united state of america</b></span>  
         <li class="tn"> <span><b>Playing a soccer game is fun.</b></span>
         <li class="tn"> <span><b>But sometimes forming a team is a mountain to climb.</b></span>
         <li class="tn"> <span><b>As a single player </b>
         <img src=" http://icons.iconarchive.com/icons/itzikgur/my-seven/48/Games-Soccer-icon.png" width="32" />
</span>
         <li class="tn"> <span><b>It would be a hassle to collect all team members just to play a game. In fact that would be discouraging and may lead to a game cancellation.</b></span>
         <li class="tn"> <span><b>In the other hand,</b></span>
         <li class="tn"> <span><b>Some soccer fans are more interested in watching games and following results and new rather than playing a real game </b></span>
             <li class="tn">
          <span><b>the solussion FootOnclick</b><br/>
     <img src=" http://icons.iconarchive.com/icons/yingfengling-fl/i-love-sports/64/soccer-icon.png" width-="32"/>
          </span>
         <li class="tn"> <span><b>Foot on click thought about all those problems and came with a solution that would satisfy soccer fans</b></span>
        <li class="tn"> <span><b>This application is the best link between players and football field's holders.</b></span>
        <li class="tn"> <span><b>Single player can easily book the whole field if he has his team already set. </b>
        <li class="tn"> <span><b> Football on clicks provides its users  with the latest results and news of the most famous soccer league all over the world. </span>                                      

    
        <li class="fr"> <span><b> ahh goood </b></span>

             <li class="fr"> <span><b> i like it </b></span>              
        
        <li class="usa"> <span><b> it's good idea </b></span>
        <li class="can"> <span><b>Yes, Yes</b></span>
          
                
        <li class="usa"> <span><b> i will register in this website and i will play </b></span>
         <li class="usa"> <span><b> my be one day i will be a millionaire
 with this website </b></span>
              <li class="fr"> <span><b> ohhhh :O </b></span>  

            
        <li class="can"> <span><b>hhhhhh </b></span>
        <li class="can"> <span><b>i will be the first to registerer and i will win the lottery  </b></span>
       <li class="usa"> hhhh,i wil kill all of you and get all the money<span><b> 
 <img src="http://icons.iconarchive.com/icons/icons8/windows-8/64/Military-Firing-Gun-icon.png" width-="32"/>
 </b></span>
                    
                    
                    
                    
            
            <li class="tn"> <span><b>have fun gays  </b></span>
                  <li class="usa"> <span><b>thx </b></span>
        <li class="can"> <span><b>thank you</b></span>
<!--
        <li class="usa"> <span><b>We have president.</b></span>
        <li class="can"> <span><b>Hmm, Canada has prime minister.</b></span>
            <li class="tn">
          <span><b>We have freedom of guns!!!.</b><br/>
     <img src=" http://icons.iconarchive.com/icons/yingfengling-fl/i-love-sports/64/soccer-icon.png" width-="32"/>
          </span>
           <li class="usa"> <span><b>...</b></span>
        <li class="can"> <span><b>...</b></span>
        <li class="usa">
          <span><b>We have freedom of guns!!!.</b><br/>
            <img src="http://icons.iconarchive.com/icons/icons8/windows-8/64/Military-Firing-Gun-icon.png" width-="32"/>
          </span>
-->
<!--
        <li class="can"> <span><b>...</b></span>
        <li class="usa"> <span><b>...</b></span>
            <li class="tn"> <span><b>bbb, bbbbb</b></span>
        <li class="can"> 
          <span>
            <b>We have free health care!!!</b><br/>
            <img src="http://icons.iconarchive.com/icons/gosquared/flag/64/Red-Cross-flat-icon.png" width="32" />
          </span>
            
            
            
           
        <li class="usa"> <span><b>...</b></span>
        <li class="can"> <span><b>...</b></span>
           
        <li class="usa"> <span><b>Bye Candaa</b></span>
        <li class="can"> <span><b>Bye</b></span>
            <li class="tn"> <span><b>ccccc, ccccc</b></span>
      </ul>
-->
    </div>
          </div>
  </body>


