
  <body id="bodycyrine">
      
      <div id="myMap">
      
      

      
      <link rel="stylesheet" href="css/stylecyrine.css" type="text/css" media="all">
    <div ng-controller="MyCtrl">
         
      {{world}}
      <ng-map zoom="2" center="toronto, canada" style="height:300px">
        <custom-marker id="can" position="canada" on-click="click()">
        <div><b>Hi, im from canada </b>
          <img src="http://icons.iconarchive.com/icons/custom-icon-design/2014-world-cup-flags/32/USA-icon.png" />
        </div>
        </custom-marker>
        <custom-marker id="usa" position="united state of america">
        <div><b>Hello, im from united state of america</b>
          <img src="http://icons.iconarchive.com/icons/gosquared/flag/32/Canada-flat-icon.png" />
        </div>
        </custom-marker>
          <custom-marker id="fr" position="Paris">
        <div><b>Hello, im from Paris</b>
          <img src="http://icons.iconarchive.com/icons/custom-icon-design/2014-world-cup-flags/32/France-icon.png" />
        </div>
        </custom-marker>
        
          <custom-marker id="tn" position="Tunisia" on-click="click()">
        <div><b>Hi Hi, im from tunisa </b>
          <img src="http://icons.iconarchive.com/icons/custom-icon-design/round-world-flags/32/Tunisia-icon.png" />
        </div>
        </custom-marker>
          
           <custom-marker id="Mex" position="Mexico" on-click="click()">
        <div><b>Hi, im from Mexico</b>
          <img src="http://icons.iconarchive.com/icons/custom-icon-design/2014-world-cup-flags/32/Mexico-icon.png" />
        </div>
        </custom-marker>
      </ng-map>
      <ul id="chats">
         <li class="tn"> <span><b>Hi Hi, im from tunisa</b></span>
         <li class="tn"> <span><b>Hi Hi, tunisa</b></span>
         <li class="tn"> <span><b>tunisa</b></span>
         <li class="tn"> <span><b>hi , haw are you canada</b></span>
         <li class="tn"> <span><b>hi , haw are you Mexico</b></span>
         <li class="tn"> <span><b>hi , haw are you Paris</b></span>
         <li class="tn"> <span><b>hi , haw are you united state of america</b></span>  
             
        <li class="tn">
          <span><b>ija etfarraj!!!.</b><br/>
     <img src=" http://icons.iconarchive.com/icons/yingfengling-fl/i-love-sports/64/soccer-icon.png" width-     ="32"/>
          </span>
        <li class="usa"> <span><b>We are alike, right?</b></span>
        <li class="can"> <span><b>Yes, we are</b></span>
          
                
        <li class="usa"> <span><b>We have freedom of speech.</b></span>
        <li class="can"> <span><b>Yes, we also have free market.</b></span>
            <li class="tn"> <span><b>mar7bé, bikom </b></span>
        <li class="usa"> <span><b>We have president.</b></span>
        <li class="can"> <span><b>Hmm, Canada has prime minister.</b></span>
            <li class="tn">
          <span><b>We have freedom of guns!!!.</b><br/>
     <img src=" http://icons.iconarchive.com/icons/yingfengling-fl/i-love-sports/64/soccer-icon.png" width-     ="32"/>
          </span>
           
        <li class="usa">
          <span><b>We have freedom of guns!!!.</b><br/>
            <img src="http://icons.iconarchive.com/icons/icons8/windows-8/64/Military-Firing-Gun-icon.png" width-="32"/>
          </span>
        <li class="can"> <span><b>...</b></span>
        <li class="usa"> <span><b>...</b></span>
            <li class="tn"> <span><b>bbb, bbbbb</b></span>
        <li class="can"> 
          <span>
            <b>We have free health care!!!</b><br/>
            <img src="http://icons.iconarchive.com/icons/gosquared/flag/64/Red-Cross-flat-icon.png" width="32" />
          </span>
            
        <li class="usa"> <span><b>...</b></span>
        <li class="can"> <span><b>...</b></span>
        <li class="usa"> <span><b>Bye Candaa</b></span>
        <li class="can"> <span><b>Bye</b></span>
            <li class="tn"> <span><b>ccccc, ccccc</b></span>
      </ul>
    </div>
          </div>
  </body>


