<form name="formNewsletter" ng-submit="SendMail" ng-controller="SendMailCtrl">
    <section id="con-for2">

        <div class="con-for2">
<h2 class="pad_bot1 pad_top1">Newsletter</h2>
            <div class="form-field contact-name">
               <span>Your Name :</span>
    <input type="text" class="con-txt" placeholder="Nome" maxlength=20 minlength=5  ng-pattern="[a-zA-Z]" ng-model="user.name" required/>
            </div>
          <br>
            <div class="form-field contact-email">   
                <span>Your E-mail:</span>
                <input type="email" class="con-txt" placeholder="Email" ng-model="user.email"required/>
            </div>
        </div>

        <div class="form-field contact-btn">
      <br>
          <!--  /*<input type="submit" class="con-btn" value="Contattaci" /> -->
            <span>&nbsp;</span> <a href="#" class="button" submit="SendMail">send</a>  </div>
        </div>
   
    
    </section>
    
</form>
    
    