
<!-- content -->
<div class="body2">
  <div class="main">
    <section id="content"  ng-controller="GetAllBetPast">

             <table ng-controller="GetAllBetItalia">
             <br><br><br><br>
                 
                  <th ng-if="italianMatchPast.length != 0" ><img style="width:100px;height:100px" src="../images/ligue/Lega_Calcio.png"/><br><br><br></th>
                 
                 
                      <tr ng-repeat="nn in italianMatchPast">
                      <td>  <img style="width:30px;height:30px"  ng-src="{{showTeam(nn.homeTeamName)}}"/ >  {{nn.homeTeamName}}</td>
                 
                     
                     
                      <td >
                               
                         <div >
                             <b>  {{nn.result.goalsHomeTeam}} - {{nn.result.goalsAwayTeam}}</b></div> 
                           </td>    
                     
                     <td style="padding-left: 200px"><img style="width:30px;height:30px"  ng-src="{{showTeam(nn.awayTeamName)}}"/ >{{nn.awayTeamName}}<br><br><br> </td>
                 
              </tr>
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
              
                         <th ng-if="spanishMatchPast.length != 0" ><img style="width:200px;height:100px" src="../images/ligue/laligabbva.png"/><br><br><br></th>
                 
                 
                      <tr ng-repeat="nn in spanishMatchPast">
                      <td>  <img style="width:30px;height:30px"  ng-src="{{showTeam(nn.homeTeamName)}}"/ >  {{nn.homeTeamName}}</td>
                 
                     
                     
                      <td  >
                               
                         <div >
                             <b>  {{nn.result.goalsHomeTeam}} - {{nn.result.goalsAwayTeam}}</b></div> 
                           </td>    
                     
                     <td style="padding-left: 200px"><img style="width:30px;height:30px"  ng-src="{{showTeam(nn.awayTeamName)}}"/ >{{nn.awayTeamName}}<br><br><br> </td>
                 
              </tr>
                 
                 
                 
                 
                 
                 
                 
                 
                 
 
                             <th ng-if="championsLeaguePast.length != 0" ><img style="width:100px;height:100px" src="../images/ligue/ucl.png"/><br><br><br></th>
                 
                 
                      <tr ng-repeat="nn in championsLeaguePast">
                      <td>  <img style="width:30px;height:30px"  ng-src="{{showTeam(nn.homeTeamName)}}"/ >  {{nn.homeTeamName}}</td>
                 
                     
                     
                      <td  >
                               
                         <div >
                             <b>  {{nn.result.goalsHomeTeam}} - {{nn.result.goalsAwayTeam}}</b></div> 
                           </td>    
                     
                     <td style="padding-left: 200px"><img style="width:30px;height:30px"  ng-src="{{showTeam(nn.awayTeamName)}}"/ >{{nn.awayTeamName}}<br><br><br> </td>
                 
              </tr>
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                             <th ng-if="portugalLiguePast.length != 0"><img style="width:150px;height:150px" src="../images/ligue/21.png.pagespeed.ce.25v9Htt9XV.png"/><br><br><br></th>
                 
                 
                      <tr ng-repeat="nn in portugalLiguePast">
                      <td>  <img style="width:30px;height:30px"  ng-src="{{showTeam(nn.homeTeamName)}}"/ >  {{nn.homeTeamName}}</td>
                 
                     
                     
                      <td >
                               
                         <div >
                             <b>  {{nn.result.goalsHomeTeam}} - {{nn.result.goalsAwayTeam}}</b></div> 
                           </td>    
                     
                     <td style="padding-left: 200px"><img style="width:30px;height:30px"  ng-src="{{showTeam(nn.awayTeamName)}}"/ >{{nn.awayTeamName}}<br><br><br> </td>
                 
              </tr>
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                             <th ng-if="premierLiguePast.length != 0" ><img style="width:100px;height:100px" src="../images/ligue/Premier-League-Logo.png"/><br><br><br></th>
                 
                 
                      <tr ng-repeat="nn in premierLiguePast">
                      <td>  <img style="width:30px;height:30px"  ng-src="{{showTeam(nn.homeTeamName)}}"/ >  {{nn.homeTeamName}}</td>
                 
                     
                     
                      <td>
                               
                         <div >
                             <b>  {{nn.result.goalsHomeTeam}} - {{nn.result.goalsAwayTeam}}</b></div> 
                           </td>    
                     
                     <td style="padding-left: 200px"><img style="width:30px;height:30px"  ng-src="{{showTeam(nn.awayTeamName)}}"/ >{{nn.awayTeamName}}<br><br><br> </td>
                 
              </tr>
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
            <th ng-if="frenshMatchPast.length != 0" ><img style="width:100px;height:150px" src="../images/ligue/Ligue_1_Logo.png"/><br><br><br></th>
                 
                 
                      <tr ng-repeat="nn in frenshMatchPast">
                      <td>  <img style="width:30px;height:30px"  ng-src="{{showTeam(nn.homeTeamName)}}"/ >  {{nn.homeTeamName}}</td>
                 
                     
                     
                      <td>
                               
                         <div >
                             <b>  {{nn.result.goalsHomeTeam}} - {{nn.result.goalsAwayTeam}}</b></div> 
                           </td>    
                     
                     <td style="padding-left: 200px"><img style="width:30px;height:30px"  ng-src="{{showTeam(nn.awayTeamName)}}"/ >{{nn.awayTeamName}}<br><br><br> </td>
                 
              </tr>
                 
                 
                 
                 
                               
            <th ng-if="deutchMatchPast.length != 0" ><img style="width:200px;height:90px" src="../images/ligue/bundesliga-logo.png"/><br><br><br></th>
                 
                 
                      <tr ng-repeat="nn in deutchMatchPast">
                      <td>  <img style="width:30px;height:30px"  ng-src="{{showTeam(nn.homeTeamName)}}"/ >  {{nn.homeTeamName}}</td>
                 
                     
                     
                      <td>
                               
                         <div >
                             <b>  {{nn.result.goalsHomeTeam}} - {{nn.result.goalsAwayTeam}}</b></div> 
                           </td>    
                     
                     <td style="padding-left: 200px"><img style="width:30px;height:30px"  ng-src="{{showTeam(nn.awayTeamName)}}"/ >{{nn.awayTeamName}}<br><br><br> </td>
                 
              </tr>
                                  
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
              
                 
        </table>      

    </section>
  </div>
</div>

<script>Cufon.now();</script>

