
<div ng-controller="ReclamationCtrl" style="padding-left:250px;">
<form form name="formNewsletter" ng-submit="SendMail"  method="post">
    <section id="con-for2">

    <div class="con-for">
        <h2 class="pad_bot1 pad_top1">Claim</h2>


        <div class="con-for2">
            <fieldset>

            <div class="form-field contact-name">
                <span>Subject:</span>
                <input type="text" class="con-txt" placeholder="subject" maxlength=20 minlength=5  ng-pattern="[a-zA-Z]"  data-ng-model="claim.objet" required/>
            </div>
            <br>
            <div class="form-field contact-email">
                <span>Claiming:</span>
                <input type="email" class="con-txt" placeholder="claiming" data-ng-model="claim.message"required/>
            </div>

            <br>
            <div class="form-field contact-btn">   <span>&nbsp;</span> <a href="#" class="button">send</a>  </div>


                </fieldset>
        </div>


        </div>
        </section>
</form>

</div>

