
<!-- content -->




          <div class="pad2" >
             
            <h2 class="pad_bot1 pad_top1">Rent a Living</h2>
              <div   ng-controller="GetAllBetItalia"  >
                  
                  
                  <div ng-repeat="nn in greeting">
                  {{nn}}
                      _____________________________________________________________
                  </div>
          
              <!--  <div ng-repeat="tea in greeting">
                    {{tea}}<br>
                  </div>-->
                                     

            </div>
              
          </div>
       

<script>Cufon.now();</script>

