<div ng-controller="reservationPlaController">
    
    
      <div class="con-for">
        <h2 class="pad_bot1 pad_top1">Booking</h2>

<div class="body2">
  <div class="main">
    <section id="content1">
        <h3 class="pad_bot1 pad_top1">choose the booking date</h3>

     <label>book :</label>
        <input  name="date_book" type="date" ng-model="date" placeholder="date Booking">
       <br>
<label>select the part :</label> 
            <select name ="partie" ng-model="partie">
       <option value="part 1">part 1: 8=>9:30 </option>
       <option value="part 2">part 2: 10=>12:30</option>
       <option value="part 3">part 3: 14=>15:30 </option>
       <option value="part 4">part 4: 16=>17:30 </option>
       <option value="part 5">part 5: 18=>19:30</option>
       <option value="part 6">part 6: 20=>21:30 </option>
       <option value="part 7">part 7: 22=>23:30</option>
        </select>              
        <br>
      <section id="content2">
        <label>football stadium :</label> 
        <select name ="stadium" ng-model="stadium">
       <option value="olympico stadium  ">olympico stadium  </option>
       <option value="san siro club">san siro club </option>
       <option value="terrain ford ">terrain ford </option>
       
        </select>              
        <br>
        <br>
        </section>
        
   <h3 class="pad_bot1 pad_top1">Reserved position</h3>     

        <div class="imageBack" >
            
            <div id="aileGauche" ng-show="!reservation1">
<img src="images/Black-Soccer_ball.svg.png" style="width:40px;
    height:40px;" ng-click="reserver1()"/></div>
            
           <div id="aileGauche" ng-show="reservation1">
<img src="images/red-football-hi.png" style="width:40px;
    height:40px;" ng-click="reservation1=false"/>
                </div>
            
            
              <div id="aileGauche2" ng-show="!reservation8">
<img src="images/Black-Soccer_ball.svg.png" style="width:40px;
    height:40px;" ng-click="reserver8()"/></div>
            
              <div id="aileGauche2" ng-show="reservation8">
<img src="images/red-football-hi.png" style="width:40px;
    height:40px;" ng-click="reservation8=false"/>
                </div>
            
            
            
            <div id="arrGauche1" ng-show="!reservation2" >
<img src="images/Black-Soccer_ball.svg.png" style="width:40px;
    height:40px;" ng-click="reserver2()"/></div>
            
             <div id="arrGauche1" ng-show="reservation2">
<img src="images/red-football-hi.png" style="width:40px;
    height:40px;" ng-click="reservation2=false"/></div>
            
            <div id="arrGauche2" ng-show="!reservation9" >
<img src="images/Black-Soccer_ball.svg.png" style="width:40px;
    height:40px;" ng-click="reserver9()"/></div>
            
             <div id="arrGauche2" ng-show="reservation9">
<img src="images/red-football-hi.png" style="width:40px;
    height:40px;" ng-click="reservation9=false"/>
                </div>
            
            
              
            
            
            
                <div id="axial" ng-show="!reservation3">
<img src="images/Black-Soccer_ball.svg.png" style="width:40px;
 height:40px;" ng-click="reserver3()"/></div>
                    
                <div id="axial" ng-show="reservation3">
<img src="images/red-football-hi.png" style="width:40px;
    height:40px;" ng-click="reservation3=false"/></div>
            
            
                <div id="axial2" ng-show="!reservation10">
<img src="images/Black-Soccer_ball.svg.png" style="width:40px;
    height:40px;" ng-click="reserver10()"/></div>
            
                <div id="axial2" ng-show="reservation10">
<img src="images/red-football-hi.png" style="width:40px;
    height:40px;" ng-click="reservation10=false"/>
                </div>
            
            
            
       

            
            
            
            
             <div id="gardien" ng-show="!reservation4">
   <img src="images/Black-Soccer_ball.svg.png" style="width:40px;height:40px;" ng-click="reserver4()" /></div>
            
<div id="gardien" ng-show="reservation4">
    <img src="images/red-football-hi.png" style="width:40px;
    height:40px;" ng-click="reservation4=false" />
</div>
            
            
              <div id="gardien2" ng-show="!reservation11">
   <img src="images/Black-Soccer_ball.svg.png" style="width:40px;height:40px;" ng-click="reserver11()" /></div>

            <div id="gardien2" ng-show="reservation11">
    <img src="images/red-football-hi.png" style="width:40px;
    height:40px;" ng-click="reservation11=false" />
</div>
                   
                   
                   
                   
             <div id="arrDroit1" ng-show="!reservation5">
<img src="images/Black-Soccer_ball.svg.png" style="width:40px;
    height:40px;" ng-click="reserver5()"/>
                </div>
             <div id="arrDroit1" ng-show="reservation5">
<img src="images/red-football-hi.png" style="width:40px;
    height:40px;" ng-click="reservation5=false"/>
                </div>
            
                 
             <div id="arrDroit2" ng-show="!reservation12">
<img src="images/Black-Soccer_ball.svg.png" style="width:40px;
    height:40px;" ng-click="reserver12()"/>
                </div>
             <div id="arrDroit2" ng-show="reservation12">
<img src="images/red-football-hi.png" style="width:40px;
    height:40px;" ng-click="reservation12=false"/>
                </div>
            
            
            
              <div id="aileDroit" ng-show="!reservation6">
<img src="images/Black-Soccer_ball.svg.png" style="width:40px;
    height:40px;" ng-click="reserver6()"/>
                </div>
           <div id="aileDroit" ng-show="reservation6">
<img src="images/red-football-hi.png" style="width:40px;
    height:40px;" ng-click="reservation6=false"/>
                </div>
            
              <div id="aileDroit2" ng-show="!reservation13">
<img src="images/Black-Soccer_ball.svg.png" style="width:40px;
    height:40px;" ng-click="reserver13()"/>
                </div>
           <div id="aileDroit2" ng-show="reservation13">
<img src="images/red-football-hi.png" style="width:40px;
    height:40px;" ng-click="reservation13=false"/>
                </div>
           <!--
        end   partie gauche du terrain
-->
            
            
            
            </div>
        <div ng-show="reservation1 || reservation2|| reservation3|| reservation4|| reservation5|| reservation6|| reservation8|| reservation9|| reservation10|| reservation11 || reservation12 ||reservation13">
       
          <div class="alert alert-success">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Book sent successfully.
</div>

 
       
         <div ng-repeat="user in users">
        
            {{user.name}}
             <span>&nbsp;</span>
        <input class="button"  type="button" ng-click="inviter(user._id.$oid)" value="inviter"  >  
        
        
        </div>

    </section>
  </div>
</div>
    <article class="col2">
          <div class="pad1">
            <h3>weather</h3>
              <div class="wrapper"> <span class="date"><a href="#/weather"  style="margin-left:10px"><img src ="images/ExternalImages/Weather-icon.png"/></a></span>
             
            </div>
            
          </div>
        </article>
</div>
  </div>        
<script>Cufon.now();</script>