<div ng-controller="statistics">
 
    <center><h2 class="pad_bot1 pad_top1">Statistique</h2></center>
    
    <br>On a pour cette semaine  {{allbuts}} matchs joués
    <br><br><br>
   
    <table>
        
        
        <tr>
            <td style="color:#eee;font-weight:bold">Allemagne</td>
            <td>
 <div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{deutchMatch*2}}%">
    <span class="sr-only">45% Complete</span>
  </div>
</div></td>
            <td style="padding-left:20px">{{deutchMatch}} matchs</td>
   </tr>
        
        
        
        
        <tr>
            <td style="color:#eee;font-weight:bold">France</td>
            <td>
     <div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{frenshMatch*2}}%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
            </td>
            <td style="padding-left:20px">
                {{frenshMatch}} matchs</td>
    </tr>
        
        
        
        
        
        <tr>
            <td style="color:#eee;font-weight:bold">Angleterre</td>
            <td>
       <div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{englishMatch*2}}%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
            </td>
            <td style="padding-left:20px">{{englishMatch}} matchs</td>
     </tr>
        
        <tr>
            <td style="color:#eee;font-weight:bold">Espagne</td>
            <td>
       <div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{spanishMatch*2}}%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
            </td>
            <td style="padding-left:20px">
                {{spanishMatch}} matchs
    </td> </tr>
        
        <tr>
    <td style="color:#eee;font-weight:bold">Italie</td>
            <td>
      <div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{italianMatch*2}}%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
            </td>
            <td style="padding-left:20px">
                {{italianMatch}} matchs </td>
    
    </tr>
        

        <tr>
    <td style="color:#eee;font-weight:bold">Portugal</td>
            <td>
   
                 <div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{portugalMatch*2}}%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
               <p style="color:rgb(46, 46, 46)"> --------------------------------------------------</p>
            </td>
            <td style="padding-left:20px">
                {{portugalMatch}} matchs </td>
    </tr>

</table>

    
    
</div>