<div ng-controller="statistics">
 
    <center><h2 class="pad_bot1 pad_top1">Statistique</h2></center>
    
    <br>On a pour cette semaine  {{allbuts}} matchs joués
    <br><br><br>
    
    <table>
        
        
        <tr>
            <td style="color:black;font-weight:bold">Allemagne</td>
            <td>
<img src="images/blue.jpg" ng-style="{'width':deutchMatch*10+'px'}" style="height:15px"/></td>
            <td style="padding-left:20px">{{deutchMatch}} matchs</td>
   </tr>
        
        
        
        
        <tr>
            <td style="color:black;font-weight:bold">France</td>
            <td>
    <img src="images/green.gif" ng-style="{'width':frenshMatch*10+'px'}" style="height:15px"/>
            </td>
            <td style="padding-left:20px">
                {{frenshMatch}} matchs</td>
    </tr>
        
        
        
        
        
        <tr>
            <td style="color:black;font-weight:bold">Angleterre</td>
            <td>
    <img src="images/yellow.jpg" ng-style="{'width':englishMatch*10+'px'}" style="height:15px"/>
            </td>
            <td style="padding-left:20px">{{englishMatch}} matchs</td>
     </tr>
        
        <tr>
            <td style="color:black;font-weight:bold">Espagne</td>
            <td>
    <img src="images/red.gif" ng-style="{'width':spanishMatch*10+'px'}" style="height:15px"/>
            </td>
            <td style="padding-left:20px">
                {{spanishMatch}} matchs
    </td> </tr>
        
        <tr>
    <td style="color:black;font-weight:bold">Italie</td>
            <td>
    <img src="images/purple.jpg" ng-style="{'width':italianMatch*10+'px'}" style="height:15px"/>
            </td>
            <td style="padding-left:20px">
                {{italianMatch}} matchs </td>
    
    </tr>
        
        <tr>
    <td style="color:black;font-weight:bold">Portugal</td>
            <td>
    <img src="images/brown.jpg" ng-style="{'width':italianMatch*10+'px'}" style="height:15px"/>
            </td>
            <td style="padding-left:20px">
                {{portugalMatch}} matchs </td>
    </tr>
</table>

    
    
</div>