<div ng-controller="weatherController">
    <div ng-repeat="w in weath ">  
        <div class="container">
         <div class="jumbotron">
             <center>
                 <img src ="images/ExternalImages/weather_ee250e99-1708-4bdd-84ff-01fde27d0771.jpg">
                  <h1>{{w.location.name}}</h1><br> <br><br><br>
            <center> <h2>{{w.current.temperature}}</h2> </center>
                 <br>
                    
     </center>
   <style type="text/css">
       
        

  </style>
    </div> 
      </div>  
</div>
</div>




