<div ng-controller="weatherController">
    <div ng-repeat="w in weath ">  
        <div class="container">
         <div class="jumbotron">
             <center>
                  <h1>{{w.location.name}}</h1><br> <br><br><br>
            <h2>{{w.current.temperature}}</h2>
     </center>
   <style type="text/css">
  body {
    background-image: url(https://res-2.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_1110,q_75,w_1920/v1/clients/vancouverbc/weather_ee250e99-1708-4bdd-84ff-01fde27d0771.jpg);
    }
  </style>
    </div> 
      </div>  
</div>
</div>




