<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="description" content="Description of your site goes here">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main-wraper">
    <div id="top-wraper">
        <div id="banner">Foot On Click </div>
        <div id="nav">
            <ul>

                <li><a href="/frenshMatch/nextMatch">Frensh League</a></li>
                <li><a href="/spanishMatch/nextMatch">Spanish League</a></li>
                <li><a href="/deutshMatch/nextMatch">Deutsh League</a></li>
                <li><a href="/englishMatch/nextMatch">England League</a></li>
            </ul>
        </div>
    </div>
    <div id="mid-wraper">
        <div class="mid-wraper-top">
            <div class="mid-leftouter">

                <div class="mid-left-container" >
                {%  block content %} {% endblock %}

                </div>
            </div>


        </div>

    </div>

</body></html>